/* colors
  dark blue: #4287f5
  light blue: #91deff
  orange: #fcb603
*/

body {
  margin: 0;
  font-family: 'Raleway',
    sans-serif;
  background-color: #f9f9f9;
  letter-spacing: 1px;
}

#main {
  width: 85%;
  display: flex;
  display: inline-flex;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#content {
  width: 90%;
  margin-left: 10%;
}

#h1 a {
  color: #fcb603;
  font-weight: 400;
}

#h2 {
  color: #fcb603;
  font-weight: 400;
}

#h1 a:visited {
  text-decoration: none;
  decoration: none;
  color: #fcb603;
}

#sidebar {
  width: 30%;
}

.sidebar-content {
  position: sticky;
  top: 10rem;
  text-align: center;
}

#menu-list {
  list-style-type: none;
  text-decoration: none;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

#menu-list2 {
  list-style-type: none;
  text-decoration: none;
  margin-right: 2rem;
  margin-top: 0.5rem;
  font-weight: 200;
}

.fancy3:hover {
  color: #fcb603;
  font-size: 1rem;
  cursor: pointer;
}

.int {
  list-style-type: none;
  text-decoration: none;
  font-weight: 300;
}

#contacts {
  font-weight: 300;
}

p {
  font-weight: 300;

}

.fancy:hover {
  color: #fcb603;
  font-size: 1.5rem;
  cursor: pointer;
}

.fancy {
  position: relative;
}

.fancy::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #fcb603;
  color: #fcb603;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in;
}

.fancy:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  color: #fcb603;
}

.logo {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  font-size: 1.5rem;
}

.nodecor {
  color: #999999;
  display: inline;
}

.nodecor,i:hover {
  color: #fcb603;
}

.fancy2:hover.a {
  color: #fcb603;
  font-size: 1.3rem;
  cursor: pointer;
}

.fancy2 {
  position: relative;
  width: 135px;
  margin: 10px auto;
  bottom: 0;
}

.fancy2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #fcb603;
  color: #fcb603;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in;
}

.fancy2:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  color: #fcb603;
}

.small-headings {
  margin-top: 3rem;
  cursor: pointer;
  position: relative;
  color: #fcb603;
  font-weight: 300;
}


a {
  text-decoration: none;
  color: #999999;
}

li {
  padding-top: 5px;
}

#profile-pic {
  border-radius: 50%;
  width: 400px;
  align-items: center;
  border: 2px solid #e8ab00;
}

header {
  text-align: center;
  width: 100%;
  margin: 2rem auto;
  font-family: 'Raleway',
    sans-serif;
  text-decoration: none;
}

#line {
  margin: 10px auto;
  width: 70%;
  border-bottom: 0.5px solid #fcb603;
}

#footer {
  width: 70%;
  margin: auto;
  margin-bottom: 20PX;
  text-align: center;
  padding-top: 0.2rem;
  border-top: 1px solid #fcb603;
}

.header-color:hover {
  color: #ffbf0d;
  transform: scale(1.2);
  cursor: pointer;
}


/* Media queries  ----- Challenge 8 */

/* THIS IS MY FIRST BREAKPOINT: 1650px */
@media (max-width:1450px) {
  #content {
    text-align: center;
  }
  li {
  list-style-type: none;
  text-decoration: none;
  }
  #profile-pic {
    border-radius: 50%;
    width: 350px;
    align-items: center;
    border: 2px solid #e8ab00;
  }
  .int {
    margin: 0 auto;
    display: block;
    width: fit-content;
    text-align: center;
  }
  h1,h2 {
    font-size: x-large;
    display: inline;
    margin: 0 auto;
  }
}

/* SECOND BREAKPOINT: 1150px */

@media (max-width:1150px) {
  #profile-pic {
    border-radius: 50%;
    width: 250px;
    align-items: center;
    border: 2px solid #e8ab00;
  }
  #contacts {
    margin-top: 1.5rem;
  }
  content {
    margin-top: 1rem;
  }
  body {
    font-size: medium;
  }
}

/* THIRD BREAKPOINT: 1000px */

@media (max-width:900px) {
  body {
    font-size: small;
  }
  #sidebar {
    display: none;
  }
  #profile-pic {
    display: none;
  }
  #content {
    width: 100;
  }
  #main {
    margin-top: 1rem;
  }
  h1,h2 {
    font-size: large;
    text-align: left;
    display: block;
    margin-left: 5em;
  }
  .small-headings {
    margin-top: 4rem;
  }
  img {
    width: 100px;
  }
}

@media (min-width:900px) {
  #menu-list2 {
    display: none;
  }
  .fancy:hover {
    font-size: 1rem;
  }
}